.larch_app_enclosure {
    width: 1280px;
    margin: 0 auto;
}

.larch_app_title_bar {
    background : #f8f8f8;
}

.larch_app_doc_list {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 2px;
}

.larch_app_doc_container {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.larch_app_doc {
    margin-right: 120px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.larch_app_doc_controls {
    float: right;
    text-align: right;
    width: 100px;
}

.larch_app_console_list {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 2px;
}

.larch_app_console {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.larch_app_docs_section {
    margin: 3em 0;
}

.larch_app_consoles_section {
    margin: 3em 0;
}

.larch_app_menu {
    margin: 0.5em 0;
    width: 10em;
}

.larch_app_create_gui {
    width: 100%;
    margin: 5px 25px;
    padding: 10px 10px;
    border: 1px solid #6095ff;
    border-radius: 5px;
    background: #eff8ff;
}

.larch_app_doc_name_in_use {
    margin: 5px 25px;
    padding: 10px 10px;
    border: 1px solid #ff6363;
    border-radius: 5px;
    background: #fff0f0;
    font-family: "Garamond", "Georgia", serif;
}

h1.larch_app_title {
    text-align: center;
    padding: 0.5em 0;
    font-family: "Garamond", serif;
    font-size: 3em;
    color: #60676e;
}

.larch_app_powered_by {
    font-family: "Oxygen", sans-serif;
    margin-top: 2.5em;
    text-align: right;
}

.larch_app_pwr_link {
    color: #416380;
}

.larch_app_pwr_link:hover {
    color: #4f9b3d;
}

