/*
-*************************
-* This source code is (C)copyright Geoffrey French 2011-2013.
-*************************
*/

.__lch_seg_placeholder {
    display: none;
    visibility: hidden;
}

.__lch_seg_begin {
    display: none;
    visibility: hidden;
}

.__lch_seg_end {
    display: none;
    visibility: hidden;
}

.__lch_event_elem {
}

.__lch_exec_js_elem {
}


.dropdown_expander_header {
    font-family: "Tahoma", "Geneva", sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 3px;
}

.dropdown_expander_content {
    font-family: "Tahoma", "Geneva", sans-serif;
    margin-left: 15px;
}

.popup_box {
    z-index: 1000;
}

.ui-widget{
    font-size: 11px;
}



.page_title {
    text-align: center;
    padding: 0.5em 0;
    font-family: "Garamond", serif;
    font-size: 3em;
    color: #60676e;
}

p {
    color: #404040;
    font-family: "Oxygen", "Tahoma", "Geneva", sans-serif;
}

h1 {
    font-family: "Garamond", "Georgia", serif;
    color: #808080;
}

h2 {
    font-family: "Garamond", "Georgia", serif;
    color: #787878;
}

h3 {
    font-family: "Garamond", "Georgia", serif;
    color: #707070;
}

h4 {
    font-family: "Garamond", "Georgia", serif;
    color: #686868;
}

h5 {
    font-family: "Garamond", "Georgia", serif;
    color: #606060;
}

h6 {
    font-family: "Garamond", "Georgia", serif;
    color: #585858;
}


.gui_box {
    width: 100%;
    margin: 5px 25px;
    padding: 10px 10px;
    border: 1px solid #6095ff;
    border-radius: 5px;
    background: #eff8ff;
}

.gui_label {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    padding: 0 1em;
}

.gui_section_1 {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}

.gui_section_2 {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 1.25em;
}

.gui_section_3 {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

.emph {
    font-style: italic;
}

.error_text {
    font-family: "Garamond", "Georgia", serif;
    color: #800000;
}

.exception_during_presentation {
    margin: 2px 0;
    border: 1px solid #a00000;
    border-radius: 5px;
    background: #ffefef;
    padding: 5px;
}

.exception_during_pres_title {
    font-size: 0.75em;
    color: #a00000;
}


.notes_text {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    color: #505050;
    font-style: italic;
}


.command_key {
    border: 1px solid #8090a0;
    border-radius: 5px;
    background: #e0e0e0;
    color: #000000;
    padding: 3px;
    margin: 0 5px 0 5px;
}


.command_special_key {
    border: 1px solid #9e8e7e;
    border-radius: 5px;
    background: #f0f0b9;
    color: #000000;
    padding: 3px;
    margin: 0 5px 0 5px;
}

table.command_table {
    border: 1px solid #a0a0a0;
    background: #ffffff;
    color: #000000;
    margin: 1em 0.5em 1em 0.5em;
}

tr.command_table:nth-child(odd) {
    background: #ffffff;
}

tr.command_table:nth-child(even) {
    background: #f0f0f0;
}

.command_table_heading {
    font-weight: bold;
    color: #003060;
    padding: 0 1em 0 0;
}

.command_table_heading_row {
    background: #e0e0e0;
}

.command_table_key_seq {
    padding: 7px;
}

span.command_table_desc {
    color: #0060c0;
}

span.command_table_desc:hover {
    color: #0080ff;
}


