/*
-*************************
-* This source code is (C)copyright Geoffrey French 2011-2013.
-*************************
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:300);

.larch_app_enclosure {
    width: 1280px;
    margin: 0 auto;
}

.larch_frame_page_content {
    margin: 2em 0 0 0;
}


.larch_app_title_bar {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    text-align: center;
    text-shadow: 0 2px 4px #808080;
	color: #ffffff;
    background: #ffb000;
    padding: 30px 10px 30px 10px;
    border-bottom: 1px solid #c09600;
    box-shadow: 0 5px 5px #aaaaaa;
    margin-bottom: 10px;
}

.larch_app_doc_list {
    border-spacing: 0;
    border: 1px solid #e0e0e0;
}

.larch_app_doc_list_header {
    font-weight: bold;
    color: #505050;
    font-family: "Palatino linotype", "Book Antiqua", serif;
    background: #e0e0d0;
}

.larch_app_doc {
    border: 1px solid #c0c0c0;
}

.larch_app_doc:nth-child(even) {
    background: #ececec;
}

.larch_app_doc:nth-child(odd) {
    background: #ffffff;
}

.larch_app_doc_title {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    margin-right: 2em;
}

.larch_app_doc_filename {
    font-family: "Palatino linotype", "Book Antiqua", serif;
}

.larch_app_doc_extension {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    font-style: italic;
    margin-right: 2em;
}

.larch_app_doc_controls {
    margin-right: 2em;
}

.larch_app_console_list {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 2px;
}

.larch_app_console {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.larch_app_docs_section {
    margin: 3em 0;
}

.larch_app_consoles_section {
    margin: 3em 0;
}

.larch_app_controls_row {
    margin: 0.5em 0;
}

.larch_app_control {
    padding: 0 0.25em 0 0.25em;
}

.larch_app_doc_name_in_use {
    margin: 5px 25px;
    padding: 10px 10px;
    border: 1px solid #ff6363;
    border-radius: 5px;
    background: #fff0f0;
    font-family: "Garamond", "Georgia", serif;
}

h1.larch_app_title {
    text-align: center;
    padding: 0.5em 0;
    font-family: "Garamond", serif;
    font-size: 3em;
    color: #60676e;
}

.larch_app_powered_by {
    font-family: "Oxygen", sans-serif;
    margin-top: 2.5em;
    text-align: right;
}

.larch_app_pwr_link {
    color: #416380;
}

.larch_app_pwr_link:hover {
    color: #4f9b3d;
}


