.pyprim_punctuation {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #0000ff;
}

.pyprim_none {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #000000;
}

.pyprim_bool {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #008000;
}

.pyprim_string {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #000000;
}

.pyprim_int {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #800080;
}

.pyprim_long {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #800080;
}

.pyprim_float {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #400080;
}

.pyprim_complex_j {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #004040;
}


.error_box {
    font-family: "Tahoma", "Geneva", sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: #ff0000;
    background: #ffe0e0;
    border-radius: 5px;
    padding: 3px;
}

.error_box_caption {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #ff0000;
    font-size: 70%;
}

.error_box_content {
    font-family: "Tahoma", "Geneva", sans-serif;
    margin-left: 5px;
}


.exception_name {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #ff0000;
}

.exception_message {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #800000;
}

.exception_traceback {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #c00000;
}

.pythonobject {
    font-family: "Tahoma", "Geneva", sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: #808080;
    border-radius: 5px;
    padding: 3px;
}

.field_name {
    font-family: "Tahoma", "Geneva", sans-serif;
    color : #000080;
}

.field_value {
    font-family: "Tahoma", "Geneva", sans-serif;
    padding-left: 15px;
}


.python_keyword {
    font-family: "Tahoma", "Geneva", sans-serif;
    font-weight: bold;
    color: #000080;
}

.python_name {
    font-family: "Tahoma", "Geneva", sans-serif;
    color: #000080;
}

.python_classname {
    font-family: "Tahoma", "Geneva", sans-serif;
    color: #008080;
}

