
.worksheet_header {
    margin: 2em 0;
    height: 35px;
}

.worksheet_menu_bar {
    width: 15em;
    margin: 0 10em;
}

.worksheet_state {
    margin: 0 30em;
}

.worksheet_exec_state_init {
    font-weight: bold;
    color: #c00000;
}

.worksheet_exec_state_executed {
    color: #505050;
}

.worksheet_header_contents {
    position: absolute;
}

.worksheet_block {
    margin: 0.5em 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

.worksheet_code_container {
    padding: 0.1em 0;
}

