
.worksheet_header {
    margin: 1em 0;
}

.worksheet_menu_bar {
    width: 15em;
    margin: 0 10em;
}

.worksheet_exec_state_init {
    font-weight: bold;
    color: #c03000;
    border: 1px solid #c03000;
    border-radius: 7px;
    background: #fff4f0;
    margin: 0.5em 5em;
    width: 30em;
    padding: 3px 10px;
}

.worksheet_exec_state_executed {
    color: #507050;
    margin: 0.5em 5em;
    border: 1px solid #509050;
    border-radius: 7px;
    background: #f6fff6;
    margin: 0.5em 5em;
    width: 30em;
    padding: 3px 10px;
}

.worksheet_block {
    margin: 0.5em 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

.worksheet_code_container {
    padding: 0.1em 0;
}

