/*
-*************************
-* This source code is (C)copyright Geoffrey French 2011-2013.
-*************************
*/
.worksheet_header {
    margin: 1em 0;
}

.worksheet_buttons {
    margin: 0 5em;
}

.worksheet_menu {
    position: absolute;
    width: 15em;
    margin: 0 25em;
}

.worksheet_menu_bar {
}

.worksheet_exec_state_init {
    font-weight: bold;
    color: #c03000;
    border: 1px solid #c03000;
    border-radius: 7px;
    background: #fff4f0;
    margin: 0.5em 5em;
    width: 30em;
    padding: 3px 10px;
}

.worksheet_exec_state_executed {
    color: #507050;
    margin: 0.5em 5em;
    border: 1px solid #509050;
    border-radius: 7px;
    background: #f6fff6;
    margin: 0.5em 5em;
    width: 30em;
    padding: 3px 10px;
}

.worksheet_block {
    margin: 0.5em 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

.worksheet_code_block {
    margin: 0.5em 0em 1.0em 0em;
    border: 1px solid #c9c9d1;
    border-radius: 5px;
    box-shadow: 0 7px 5px #dcdcdc;
}

.worksheet_python_code_header {
    padding: 5px;
    background: #e1ebe1;
    font-family: "Open Sans", sans-serif;
}

.worksheet_python_code_container {
    margin: 3px 0 3px 0;
    border-left: 2px solid #008000;
    border-right: 2px solid #008000;
    padding: 0 2px 0 2px;
}

.worksheet_js_code_header {
    padding: 5px;
    background: #ebe1e1;
    font-family: "Open Sans", sans-serif;
}

.worksheet_js_code_container {
    margin: 3px 0 3px 0;
    border-left: 2px solid #800000;
    border-right: 2px solid #800000;
    padding: 0 2px 0 2px;
}

.worksheet_css_code_header {
    padding: 5px;
    background: #e1e1eb;
    font-family: "Open Sans", sans-serif;
}

.worksheet_css_code_container {
    margin: 3px 0 3px 0;
    border-left: 2px solid #000080;
    border-right: 2px solid #000080;
    padding: 0 2px 0 2px;
}

.worksheet_glsl_code_header {
    padding: 5px;
    background: #e1ebeb;
    font-family: "Open Sans", sans-serif;
}

.worksheet_glsl_code_container {
    margin: 3px 0 3px 0;
    border-left: 2px solid #008080;
    border-right: 2px solid #008080;
    padding: 0 2px 0 2px;
}

.worksheet_html_code_header {
    padding: 5px;
    background: #ebebe1;
    font-family: "Open Sans", sans-serif;
}

.worksheet_html_code_container {
    margin: 3px 0 3px 0;
    border-left: 2px solid #808000;
    border-right: 2px solid #808000;
    padding: 0 2px 0 2px;
}

.worksheet_code_block_body {
    padding: 3px;
    border-top: 1px solid #b0b0b5;
}

.worksheet_result_container {
    border-left: 2px solid #99b3cc;
    border-right: 2px solid #99b3cc;
    padding: 0 2px 0 2px;
    margin: 3px 0 3px 0;
}

.worksheet_src_language_select_table {
    float: right;
}

.worksheet_documentation {
    border: 1px solid #84bc77;
    background: #f1ffed;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 0.5em 2em;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #46663d;
}
