/*
-*************************
-* This source code is (C)copyright Geoffrey French 2011-2013.
-*************************
*/

.project_index {
}

.project_package {
}

.project_container_contents {
    margin-left: 1.5em;
}

.project_index_text {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    font-weight: lighter;
    color: #205e20;
    font-size: 1.75em;
}

.project_package_text {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    color: #5e2020;
    font-size: 1.25em;
}

.project_page_text:link {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    color: #20475c;
}

.project_root_package_name {
    margin: 1.5em 0 1.5em 0;
}

.project_reset {
}

.project_gui_container {
    margin-left: 2.5em;
}

a.project_move_to_root {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    font-weight: lighter;
    color: #205e20;
}

a.project_move_to_root:visited {
    color: #205e20;
}

a.project_move_to_package {
    font-family: "Palatino linotype", "Book Antiqua", serif;
    font-weight: lighter;
    color: #5e2020;
}

a.project_move_to_package:visited {
    color: #5e2020;
}

.project_move_dest_list {
    list-style-type: none;
    padding-left: 2em;
}

